<!DOCTYPE html>
<html>

  <head>
    <title>AWS </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">

    <title>Cloud Computing Assignment 3</title>
</head>
  <body>
   <h1>Cloud Computing Assignment 3 - Karthy</h1>
   <br/>
      {% if result_msg %}
        <h3>{{ result_msg }}</h3>
   {% endif %}
   <br/>
    <h2>Main Menu</h2>
       <form action="/checkuser" method=post>
      <p>  First name: <input type="text" name="username"><br>
         <input type=submit value="Submit" name="submit">
      </p>
      <br/><br/>
    </form>

  </body>

</html>
